{% extends "common/base.html" %}

{% load static %}

{% block content %}
  <div id="home">
    <main>
      <div class="container text-center mb-5">
        <img src="https://i.pinimg.com/originals/b5/0a/b3/b50ab3ab7a6f3d87f83e01fd3f7761eb.jpg" class="img-fluid">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Services</h2>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Branding
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>We will take your brand to new height.</strong> We will work day and night to analyze the
                    market and devise a strategy with the help of our expert team that will help your business
                    to reach on new heights in days.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Interior Decoration
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>We are also expert in Interior Decoration.</strong> Buy items for house and office designs, we also provide customize services.
                    Buy items for house and office designs, we also provide customize services.
                    Buy items for house and office designs, we also provide customize services.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ask for logo
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>If you want a logo.</strong> Show us your old logo, and we will modernize it.
                    Show us your old logo, and we will modernize it. Show us your old logo, and we will modernize it.
                    Show us your old logo, and we will modernize it. Show us your old logo, and we will modernize it.
                    Show us your old logo, and we will modernize it. Show us your old logo, and we will modernize it.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Almost 1000 <span class="text-muted">Happy clients.</span></h2>
          <p class="lead">Our customers are our number 1 priority. We work for your dreams. Help us to build your
            dream.</p>
        </div>
        <div class="col-md-5">
          <img
              src="https://assets.mediamodifier.com/mockups/597ac2c33226d26a24d7ed75/designer-working-on-a-laptop-mockup.jpg"
              class="img-fluid">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <h2>Recent, <span class="text-muted">Orders</span></h2>
        {% for order in orders %}
          <div class="col-md-4">
            <p class="lead">{{ order.subject }}</p>
            <p>Status {{ order.status }}, at {{ order.created_at }}</p>
          </div>
        {% empty %}
          <div class="col-md-12">
            <div class="alert alert-warning">No orders yet.</div>
          </div>
        {% endfor %}
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <h2>And lastly, from our customers, <span class="text-muted">Testimonials</span></h2>
        {% for testimonial in testimonials %}
          <div class="col-md-6">
            <p class="lead">{{ testimonial.review }}</p>
            <p>Rating {{ testimonial.rating }}, at {{ testimonial.created_at }}</p>
          </div>
        {% empty %}
          <div class="col-md-12">
            <div class="alert alert-warning">No testimonials yet.</div>
          </div>
        {% endfor %}
      </div>
      <hr>
  </div>

  </main>
  </div>
{% endblock %}
