{% extends "common/base.html" %}

{% block content %}
  <div id="gallery-list" class="container">
    <main class="mb-5">
      <h1 class="page-heading">My Cart</h1>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for item in object.gallery_items.all %}
          <div class="col mb-3">
            <div class="card h-100">
{#              <img src="{{ item.image.url }}" class="card-img-top">#}
              <img src="{{ item.image_as_url }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">$ {{ item.price }}, {{ item.status }}</p>
                <a href="{% url 'gallery_item_detail' item.id %}" class="btn btn-primary">View</a>
                <button class="btn btn-danger add-remove-to-cart" data-id="{{ item.id }}" data-action="remove">Remove from Cart</button>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-12">
            <div class="alert alert-warning fade show" role="alert">
              <strong>Oh no!</strong> No Items in cart.
            </div>
          </div>
        {% endfor %}
      </div>

      {% if object.gallery_items.all %}
        <div class="row">
          <div class="col-12 mt-5">
            <button id="submitBtn" class="btn btn-success">Checkout</button>
          </div>
        </div>
      {% endif %}

    </main>
  </div>
{% endblock %}
