{% extends "common/base.html" %}

{% block content %}
  <style>
    select, textarea, input[type=date], input[type=datetime],
      input[type=datetime-local], input[type=email],
      input[type=month], input[type=number], input[type=password],
      input[type=range], input[type=search], input[type=tel], input[type=text],
      input[type=time], input[type=url], input[type=week] {
        box-shadow: none;
        box-sizing: border-box;
        font-size: 15px;
        height: 43px;
        line-height: 16px;
        padding: 10px 12px;
        width: 100%;
        border: 1px solid #222222;
        border-radius: 0px;
        background: #fcfcfc;
        word-spacing: 2px;
      }
      select, textarea {
        height: auto;
      }
  </style>

  <div id="order-details" class="container">
    <main>
      <h1 class="page-heading">Order Here</h1>

      <div class="row mb-5">
        <div class="col-8">
          <form method="POST" enctype="multipart/form-data" id="order-form">
            {% csrf_token %}
            <div class="row col-12">
              {{ form.as_p }}
            </div>
            <div class="row col-12">
              <input id="order-btn-submit" class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <script>
    $('#order-btn-submit').on('click', function (event) {
      const form = $('#order-form').parsley();
      if (form.validate()) {
        $('#ask-fatwa-form').submit();
      }
    });
  </script>
{% endblock %}
